<!DOCTYPE html>
<html>
<head>
    <title>Project Description</title>
    <link rel="stylesheet" href="static/home.css">
</head>
<body>
    <div class="container" class="con">
        <h1>Project Description</h1>
        <form method="POST"  class="project-form">
            <label for="description">Enter Project Description:</label><br>
            <textarea id="description" name="description" rows="5" cols="35"></textarea><br>
            <input type="submit" value="Submit" class="submit-button">
        </form>
    </div>
</body>
</html>
